spring:
  datasource:
    url: jdbc:mysql://localhost:3306/auth_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

application:
  security:
    jwt:
      secret: mySecretKey
      access-token-expiration: 3600000
      refresh-token-expiration: 7200000

